#about-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s ease;

    &:hover {
      border-color: #ccc;
    }

    &.current {
      border-color: #3fb1f3;
    }
  }
}

#about-a {
  height: 70vh;
  text-align: center;
  color: #333;
}

.about-img {
  height: 350px;
  width: 350px;
}

#about-a {
  .about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bio {
    padding-left: 3rem;
    background: gray;
  }

  .awards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
  }
}

#about-b {
  height: 40vh;

  .about-skills {
    display: flex;
    justify-content: space-evenly;
    background: #333;
    padding: 3rem;
  }
  .about-b-title {
    font-size: 3rem;
  }

  .skill-logos {
    height: 7rem;
  }
}
