#about-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: url('/img/main-bg.jpg') no-repeat center center/cover;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s ease;

    &:hover {
      border-color: #ccc;
    }

    &.current {
      border-color: #3fb1f3;
    }
  }
}

#about-a {
  height: 100vh;

  .about-info {
    display: grid;
    grid-template-areas:
      'bioimage bio bio'
      'aw1 aw2 aw3';
    grid-gap: 3rem;
  }
  .bio-image {
    grid-area: bioimage;
  }

  .bio {
    grid-area: bio;
    border-left: 3px solid #3fb1f3;
    padding: 0.8rem;
  }

  .award-1 {
    grid-area: aw1;
  }
  .award-2 {
    grid-area: aw2;
  }
  .award-3 {
    grid-area: aw3;
  }
}

//? SmartPhones
@media (max-width: 500px) {
  #about {
    &-a {
      height: 230vh;

      .about-info {
        grid-template-areas:
          'bioimage'
          'bio'
          'aw1'
          'aw2'
          'aw3';
      }
    }
  }
}

@media (max-width: 500px) {
  #about-nav {
    flex-direction: column;
    align-items: center;
  }
}
