#main-footer {
  background: #333;
  color: white;
  height: 5rem;
  position: relative;
  bottom: 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      padding: 0.5rem;
      transition: all 0.5s ease;

      &:hover {
        background: #ffbc00;
        color: #333;
      }
    }
  }
}
