@import 'home';
@import 'work';
@import 'about';
@import 'contact';
@import 'config';
@import 'footer';
@import 'navbar';
@import 'utilities';

//? General Styles

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;
  background-image: $bg-image;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}
